.weather-section {
    background: rgb(8, 3, 46);
    min-height: 100vh;
}

.weather {
    width: 100%;
    max-width: 400px;
    height: 64vh;
    background-image: url(../../assets/cold-bg.jpg);
    background-size: cover;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}

.weather.warm {
    background-image: url(../../assets/warm-bg.jpg);
}

.weather-fieldset {
    padding: 5px;
}

.weather-fieldset > *,
.result > * {
    color: white;
}

.result {
    background:rgba(6, 6, 117, 0.4);
}

.error {
    background:rgba(201, 25, 28, 0.3);
    padding: 1rem;
}